{$CADDY_DOMAIN} {
	{$CADDY_OPTIONS}

	log {
		output file /var/log/caddy
		format console
	}

    handle /_content/BlazorStreamSaver/* {
        root * /srv
    
        file_server {
            precompressed br gzip
        }
        
        header {
            Service-Worker-Allowed "/"
            Service-Worker "script"
        }
	}
	
	handle /_content/* {
        root * /srv
        
        file_server {
            precompressed br gzip
        }
    }

	handle {
		root * /srv
		try_files {path} /index.html

		header ?Content-Type "application/octet-stream"
		
		file_server {
            precompressed br gzip
        }
	}
}

{$CADDY_REDIRECT_TO_WWW} {
	redir https://www.{host}{uri} permanent
}